<style>
body {
  background-color: black;
  color: white;
  font-family: 'Monaco' monospace;
}
</style>

<h1>POKEMON</h1>
<ul>
  <% @pokemons.each do |poke| %>
  <li>  
    <h3><%= poke.name %></h3>
    <!-- <img src="/images/<%= poke.image_url %>" alt="<%= poke.name %>-image"> -->
  </li>
  <% end %>
</ul>