<style>
  body {
    background-color: black;

  }

</style>

<h1><%= @pokemon.name %></h1>
<img alt="<%= @pokemon.name %>-image" src="data:image/png;base64,<%= @pokemon.encoded_img %>"/>

  <%= @pokemon.types.map { |type| type.name }.join(', ') %>

