<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4><span style="color:black">HI, I'M</span></h4>
        <h1>ZACK <span style="color:#0147CE">OLSON</span></h1>
        <h4>SOFTWARE ENGINEER</h4>
      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/headerwrap -->

<div class="container">
  <div class="row centered mt mb">
    <h1>My Portfolio</h1>
    
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="work.html"><img src="folio01.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="work.html"><img src="folio02.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="work.html"><img src="folio03.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="work.html"><img src="folio04.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="work.html"><img src="folio05.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="work.html"><img src="folio06.png" class="img-responsive"></a>
    </div>

  </div><! --/row -->
</div><! --/container -->