<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POKEDEX</title>

    <link rel="stylesheet" type="text/css" href="/application.css">
  </head>
  
  <body>
    <div class="title">
      <h1>POKEDEX</h1>
    </div>
    <div class="poke-list">
      <% @pokemons.each do |poke| %>
        <div class="poke-list-item">
          <a href="/pokemon/<%= poke.id %>">
            <img alt="<%= poke.name %>-image" src="data:image/png;base64,<%= poke.encoded_img %>"/>
            <h3><%= poke.name %></h3>
          </a>
        </div>
      <% end %>
    </div>
  </body>
</html>