<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="application.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Pokedex</title>
  </head>

  <body>
    <div id="dynamic-content"></div>
    <div class="footer">
        <div class="gh-link-container">
            <a href="https://github.com/zackattack01/pokedex_on_maglev" target="_blank"><img src="github.png"></a>
        </div>
    </div>

    <script src="jquery.js"></script>
    <script src="jquery-ui.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="backbone_init.js"></script>
    <script src="move.js"></script>
    <script src="move_show.js"></script>
    <script src="type.js"></script>
    <script src="type_show.js"></script>
    <script src="pokemon.js"></script>
    <script src="pokemons.js"></script>
    <script src="poke_index.js"></script>
    <script src="poke_show.js"></script>
    <script src="router.js"></script>
    <script>
      $(document).ready(function(){
        Pokedex.initialize();
      });
    </script>   
  </body>
</html>