body {
  background-color: black;
  color: white;
  font-family: 'Monaco', sans-serif;
}

.title {
  background-color: #4C0606;
  box-shadow: 0 2px 2px #A11111;
  text-shadow: 0 0 3px red;
  margin: 0;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.poke-list-item {
  background: none;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 20px;
}

.poke-list-item a h4 {
  text-shadow: -2px -1px 10px red;
  color: #EBEBEB;
}

a {
  color: #A11111;
  text-decoration: none;
  display: inline-block;
}

.poke-list-item img{
  transition: all 500ms;
}

.center {
  -moz-transform: translateX(-50%); 
  -ms-transform: translateX(-50%); 
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); 
}

.poke-list-item:hover img, .poke-list-item:focus img {
  text-shadow: 0 0 10px black;
  -moz-transform: translateY(70px) scale(1.5); 
  -ms-transform: translateY(70px) scale(1.5); 
  -webkit-transform: translateY(70px) scale(1.5);
  transform: translateY(70px) scale(1.5); 
  z-index: 12;
}

h1, h2, h3 {
  text-align: center;
  color: white;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.poke-list { margin: 120px 100px 100px 100px;}

.poke-list:after {
  display: block;
  content: "";
  clear:both;
}
.poke-list-item { float:left;}

.poke-show {
  margin: 100px 0 100px 50%;
}

.poke-show img {
  width: 400px;
  margin-left: 50%;
  background: none;
  border-radius: 50px 50px 0 0;
}

h3.ui-accordion-header {
  padding: 7px 0 7px 0;
}

h3.ui-accordion-header:not(.ui-accordion-header-active) {
  padding: 10px 0 10px 0;
  box-shadow: 0 0 10px #EBEBEB;
  font-size: 1.3em;
  color: #EBEBEB;
}

.ui-accordion-header:hover {
  cursor: pointer;
}

.ui-accordion-header-active, .header-label {
  outline: none;
  box-shadow: 0 0 10px red;
  color: red;
  font-size: 1.5em;
}

.header-label {
  margin-top: 20%;
  padding: 1px;
}

.data-index {
  margin-left: 50%;
  min-height: 400px;
}

.move-stat {
  color: #A11111;
  font-size: 1.4em;
  padding-left: 10px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.instructions {
  text-align: center;
  margin-top:-15px; 
  color: slategrey;
}

li {
  padding: 7px 0 7px 0;
  color: #A11111;
  text-align: center;
}

li > a { font-size: 1.2em; }

li > a:hover, a:hover {
  color: #EBEBEB;
  text-shadow: 0 0 10px #EBEBEB;
}

img.poke-img {
  opacity: 0;
}

.back-link {
  color: white;
  padding: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #4C0606;
  box-shadow: 0 -2px 2px #A11111;
  text-shadow: 0 0 3px red;
  z-index: 10;
}

.gh-link-container {
  position: fixed;
  bottom: 0;
  left: 90%;
  padding: 10px;
}