<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POKEDEX</title>
    <link rel="script" type="application/javascript" href="/jquery.js">
    <link rel="stylesheet" type="text/css" href="/application.css">
  </head>
  <body>